

.alpha{margin-left:0;}
.omega{margin-right:0;}

.container{
	width: 90%; /*width: 1000px;*/
	max-width: 1000px;
	margin: auto;
	
}



.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}





/*style.css*/
/*global*/

/*global*/

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
	font-size: 1.125em;
}

a {
	color: #4fb69f;
	text-decoration: none;
}

img, object {
	max-width: 100%;
}


/*typography*/

h1 {
	font-size: 1.750em;
	font-weight: 100;
	letter-spacing: -1.5px;
}

h2 {
	font-weight: 100;
	font-size: 1.500em;
	
}
h3 {
	font-weight: 100;
	font-size: 1.125em;

}



/*media queries*/

/* Larger ----------- */
@media screen and (max-width: 1024px) {


#intro {
	width: 100%; 
}
#intro-img {
	display: none;
}
#intro h1 {
	margin:  0 0 5% 0;
}
#logo {
	width: 100%;
	text-align: center;
}

#logo object {
	max-width:  55%;
}
#nav {
	width: 100%;
}
#nav ul {
	margin: 0;
}

#nav ul li {
	float: left;
	margin: 5% 0 0 0;
	}
	#nav ul li.about {
		width: 15%;
	}
	#nav ul li.pricing {
		width: 35%;
	}
	#nav ul li.locations {
		width: 25%;
	}
	#nav ul li.contact {
		width: 25%;
		margin: 5% 0 2% 0;
	}


}




/* Smaller ----------- */
@media screen and (max-width : 650px) {

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	width:100%;
}
#logo object {
	max-width: 60%;
}
#nav ul {
	margin: 5% 0;
}

#nav ul li a {
	-webkit-user-select: none;
	font-size: 1em;
}

#nav ul li {
	float: left;
	margin: 5% 0;
	}
	#nav ul  li.about {
		width: 20%;
		text-align: left;
	}
	#nav ul  li.pricing {
		width: 55%;
		text-align: center;
	}
	#nav ul  li.locations {
		width: 25%;
		text-align: right;
	}
	#nav ul  li.contact {
		width: 100%;
		margin: 0;
		font-size: 1em;
	}


#intro, #about {
	display: none;
}
#featured-cupcake, #new-cupcakes {
	margin: 5% 0;
}

}
