/*grid.css*/
/*


target / context = result

 */
.grid_1 { width: 6.770833%; } /* 65px/960px = 0.065px */
.grid_2 { width: 15.625%; } /* 150px/960px =  0.15px */
.grid_3 { width: 24.479167%; } /* 235px/960px = 0.235px */
.grid_4 { width: 33.33333%; } /* 320px/960px = 0.32px */
.grid_5 { width: 42.1875%; } /* 405px/960px = 0.405px */
.grid_6 { width: 51.041667%; } /* 490px/960px = 0.49px */
.grid_7 { width: 59.895833%; } /* 575px/960px = 0.575px */
.grid_8 { width: 68.75%; } /* 660px/960px = 0.66px */
.grid_9 { width: 77.604167%; } /* 745px/960px = 0.745px */
.grid_10 { width: 86.458333%; } /* 830px/960px = 0.83px */
.grid_11 { width: 95.3125%; } /* 915px/960px = 0.915px */
.grid_12 { width: 100%; } /* 1000px/960px = 1 */

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
margin: 0 2% 1% 0;
float: left;
display: block;
}

.container{
width: 90%; /*width: 960px;*/
max-width: 960px;
margin: auto;
}


/*global*/

body {
font-family: 'Noto Sans', sans-serif;
font-weight: 100;
font-size: 1.125em;
background: url(../img/binding_light.png) repeat;
}

a {
text-decoration: none;
}

img, object {
max-width: 100%;
}

ul{
text-decoration:none;
}

/*typography*/

p{
font-size: .75em;	
}

h1 {
font-size: 3em;
font-weight: 100%;

}

h2 {
font-weight: 100%;
font-size: 1.500em;
}

h3 {
font-weight: 100%;
font-size: 1.125em;
}

nav{
	background:navy;
	height: 64px;
	left: 0;
	top: 42px;
	width: 960px;
	font-size: 1em;
}

nav a:hover, 
nav a:active {
	margin-top: 10px;
}

li{
list-style:none;
text-align:center;
display: inline;
margin: 0 40px 0px 50px;
}

/*navigation*/

#nav ul {
width: 100%;
list-style: none;
float: right;
}

#nav ul li {
float: left;
}

#nav ul li a {
display: block;
text-decoration: none;
}

/*content*/

img{
height:auto;
width: 390px;
padding: 25px 10px 25px 0px;
}

footer{
font-size: 0.625em;
padding: 25px 0px 20px 0px;
text-align:center;
}

#rival{
clear:left;
}

#russell{
height: 460px;
width: auto;
margin-top: 0.625em;
padding: 15px 0px 15px 0px;
}

#qb{
margin-left:-30px;
padding: 0px 0px 15px 0px;
}

#id{
height:auto;
width: 9.375em;
}

#who{
padding: 30px 0px 0px 10px;
}

#who2{
padding: 0px 0px 0px 10px;
}


/* ALL LINKS */

a{
	color: #fff;
	font-size: 1em;
}


/*media queries*/
@media screen and ( max-width: 1024px ) {
	body{
		background: red;
	}
	
} /* END OF DESKTOP */



/* TABLET */

@media screen and ( max-width: 768px ) {
	body{
		background: green;
	}
	
} /* END OF TABLET */



/* PHONE */

@media screen and ( max-width: 480px ) {
	body{
		background: blue;
	}
	
	aside{
		float: none;
	}
	
} /* END OF PHONE */